{
  "presets": ["react", "es2015", "stage-1"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./src/setupTests",
        "components": "./src/components",
        "containers": "./src/containers",
        "reducers": "./src/reducers",
        "actions": "./src/actions"
      }
    }]
   ]
}
